body{
    background-color: lightcoral;
}
[class^="box-"]{
    background-color: tomato;
    /*background-clip: content-box;*/
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 30px solid black;
    margin: 50px;
    /*float: left;*/

}
.box{
    background-color: lime;
    width: 200px;
    height:200px ;
    margin: 50px;
    padding: 20px;
    border: 10px;
}
