body{
    background-color:lightcoral ;

}
[class^="box-"]{
    box-sizing: border-box;
    background-color: tomato;
    width:200px ;
    height:200px ;
    padding: 50px;

}
p{
    background-color: lime;

}
.box-1{
    /*propiedades del margin
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 150px;*/
    margin: 50px 0px 200px;
}
.box-2{
    margin-top:-200px;
}
.box-3{
    margin: auto;

}
.container{
    margin-left: auto;
    margin-right:auto ;
}
.item{
    border: 2px solid blue;
    margin-left:-80px ;
    margin-right: -80px;

}